{% if page.sidebar %}
<div class="sidebar sticky" data-simplebar data-simplebar-auto-hide="false">
    <nav class="nav__list">
        <ul class="nav__items">
            <li>
                {% for category_ordered in site.data.categories.order %}
                    {% assign payges = site.categories.[{category_ordered.category}]} %}
                    {% if payges != null %}
                        <span class="sidebar__title">{{category_ordered.name}}</span>
                        <ul>
                            {% assign sorted = payges | sort: "title" %}
                            {% for pag in sorted %}
                                {% if pag.url == page.url %}
                                    {% assign active = "active" %}
                                    {% assign anchor = "sidebar-anchor" %}
                                {% else %}
                                    {% assign active = "" %}
                                {% endif %}
                                <li><a href="{{ pag.url | relative_url }}" class="{{ active }}" {%if anchor %}id="{{ anchor }}"{% endif %}>{{ pag.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </nav>
</div>
{% endif %}