html,
body {
  scroll-behavior: smooth;
}

.container {
  max-width: 120rem;
}

.book-page {
  min-width: $body-min-width;
  height: 100%;
  flex-grow: 1;
  padding: 2rem 1rem;

  .page-title {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", Roboto, sans-serif;
  }
}

.book-brand {
  width: 100%;

  a {
    justify-content: center;
  }

  img {
    height: 2rem;
    width: 2rem;
  }

  span {
    font-size: 2.5rem;
    margin-top: 4px;
    font-family: "Bebas Neue";
  }
}

.book-menu {
  //display: none;
  font-size: $font-size-14;

  .book-menu-content {
    margin: 2rem 0;
    padding: 0 $padding-16;
    border-right: 1px solid var(--gray-200);
    width: $menu-width;

    input.toggle + label::after {
      content: "";
    }

    li {
      margin: 0.5rem 0.1rem;
    }

    > ul > :has(a) {
      margin: 0;
    }

    nav > ul > li {
      padding: 0.75rem;
      margin: 4px 0;
      border-radius: $border-radius;

      transition-property: background-color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;

      // Selector hell I know, just capturing the case where a list contains a
      // sub-list, helps to break stuff up a bit.
      > ul {
        margin-top: 16px;
        > li > ul {
          margin-bottom: 8px;
        }
      }

      &:has(label):hover {
        background-color: var(--gray-100);

        // Override behaviour of theme where it lowers opacity of items on hover
        > label > a {
          opacity: 1;
        }
      }

      &:has(input.toggle:checked) {
        background-color: var(--gray-100);
      }

      input.toggle:checked + label {
        margin-bottom: 8px;
      }

      &:has(> a) {
        margin-top: 16px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      > label > a {
        font-size: 1rem;
        font-weight: 500;
        word-wrap: break-word;

        &::after {
          content: "";
        }
      }

      ul {
        margin-left: 0.25rem;
      }
    }
  }
}

.book-toc {
  .book-toc-content {
    margin: 2rem 0;

    a {
      font-size: 0.8rem;
    }
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

blockquote {
  padding-left: 16px !important;
  background-color: var(--gray-100);

  > * {
    margin: 0.25rem 0;
  }
}

.book-article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.125em;
  }

  h1 {
    font-weight: 400;

    &:not(:nth-child(1)):after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--gray-200);
      margin-top: 0.375em;
    }
  }

  p:has(> img:only-child),
  p:has(> video:only-child) {
    display: flex;
    justify-content: center;

    > img,
    > video {
      min-width: 0;
      max-width: 1024px;
      margin: 1em 0;
      box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
    }
  }
}

blockquote,
.outer-hint {
  background-color: var(--gray-100);
  padding: 12px 0px 12px 16px !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.25rem !important;
  }
}

.outer-hint {
  border-radius: $border-radius;
  padding: 0.75rem;
  margin: 0 0 1rem 0;

  @each $name, $color in $hint-colors {
    &.#{$name} {
      border-color: $color;
      background-color: rgba($color, 0.5);
    }
  }

  h4,
  h5,
  h6 {
    margin: 0 0 0.5rem 0;
    font-weight: 700;
  }
}

.horizontal-separator {
  display: block;
  margin: 12px 0 16px;
  height: 0.9px;
  background-color: var(--gray-200);
}

.tags,
.categories {
  display: flex;
  align-items: center;

  svg {
    fill: white;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
  }

  span {
    font-weight: 500;
    margin-right: 0.5rem;
  }

  a {
    font-style: italic;
    margin-right: 0.75rem;
  }
}

.tags {
  margin-bottom: 0.75rem;
}

// Pinching this from theme/_markdown.scss because I want to use this in templated stuff.
blockquote {
  margin: $padding-16 0;
  padding: $padding-16 $padding-16 $padding-16 ($padding-16 - $padding-4); //to keep total left space 16dp

  border-inline-start: $padding-4 solid var(--gray-200);
  border-radius: $border-radius;

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

// Scrollbars

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.book-menu {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    width: 6px;
  }

  :hover::-webkit-scrollbar-thumb {
    margin: 16px 0;
    background: var(--gray-300);
  }
}
